/* Simple Global Reset */
body {
  font-family: sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Issue #16: Basic Global CSS Reset - Partially addressed here */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.show{
  border: none;
  border-radius: 5px;
  font-family: inherit;
  position: relative;
  cursor: pointer;
  box-shadow: 6px 6px 6px #c5c5c5;
  width: 8rem; 
  height: 2.5rem; 
  font-size: medium;
  font-weight: 400;
  border-bottom: 2px solid black ;
}
.show:hover {
   width: 8.4rem; 
  height: 2.8rem;
  font-size: large;
  font-weight: 600;
  box-shadow: 7px 7px 7px #c5c5c5;
   border-bottom: none ;
}

 @keyframes bounce {
  0%,100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
 }
 .explain{
  display: none;
 }
